
@{
    ViewBag.Title = "Planned Features";
}

<h1>Planned Features</h1>
<p>In no particular order:</p>
<ul>
    <li>Filtering skills by categoryies and list</li>
    <li>Better CV building.</li>
    <li>Categories and Tags opened up for the public.</li>
    <li>Adding and removing multiple skills at once from the skill manager.</li>
    <li>Much more control over the CV that gets generated.</li>
    <li>Better user profiles so it can automatically shove your address/name/contact details at the top of a CV.</li>
    <li>Opening paragraphs added to CVs.</li>
    <li>Make things look nice, not really a feature but something you should expect nonetheless.</li>
    <li>Lots of other things.</li>
</ul>
