<p>
    Just a reminder that this is alpha, and CVs are currently generated using placeholder code. I could have
    hardcoded it even more to match my real CV but that time is better invested in not hardcoding any of it.  
</p>
<div id="cv">
    <h1> Simon Freeman </h1>
    <p> Contact Details Redacted for Online CV </p>
    <p>
        An enthusiastic Internet Computing graduate from the University of Glamorgan, excited to continue a career in development. Combining a talent for problem solving with an ability to communicate effectively, programming within a team is a natural fit. Online portfolio available at www.spfreeman.azurewebsites.net.
    </p>

    @Html.Raw(ViewBag.CV)
</div>
