@{
    ViewBag.Title = "About Me";
}
<h1 class="col-md-offset-5">@ViewBag.Title</h1>
<div class="row">
    <h2>Who Am I?</h2>
    <p>
        My name's Simon and I've spent the vast majority of my 24 years living in Cornwall.
        I did, however, spend the better part of 3 years in Glamorgan whilst I gained a degree in
        Internet Computing, and accumulated a miscellany of Welsh slang.
    </p>
</div>
<div class ="row"> 
    <h2>My Life In Code</h2>
    <p>
        At some point in my mid-teens, an early fondness of maths and an interest in technology combined
        as I stumbled onto programming. My very first program was coded in Python, which did the useful task
        of calculating the perimeters and areas of basic shapes with a console interface. As time went on,
        and my family invested in the <em>blistering </em>speeds of rural area broadband, I realised that I
        could create things for the entire world to see, and became more seriously interested in the Internet.
    </p>
    <p>
        After teaching myself the basics of HTML and PHP, I decided to persue a career in it and choose ICT 
        as an A Level choice. I later discovered this course contained no Web Development, and barely any 
        programming, so when it came time to go to unviersity I took no chances and studied Internet Computing
        which I went on to achieve an upper second-class honours. Still not satisfied, I spent more time learning
        more complex techniques such as MVC and OOP for PHP, which in turn lead me to ASP.NET with C#. For examples
        of my work, 
        @Html.ActionLink( "check out some examples in my portfolio.","Portfolio")
    </p>
</div>
<div class="row">
    <h2>My Life out of Code</h2>
    <p>
        I've been a bit of a sports guy since I was a kid. I've tried a lot of different sports, but spent most of
         my time with football, tennis, skittles, and badminton. I play mostly for fun, but I've been known to get
        competitive should the occasion arise. I currently invest (too much) time into following the NFL, though I'll
        watch almost any big sporting events. I'm currently looking forward to the Dolphins winning the superbowl
        so I can remind everyone how I've been leading the Tannehill bandwagon since 2012. 
    </p>
    <p>
        I also spend time focussing on the games industry, and plan to make my own game one day. Whilst playing
        games is great, I probably enjoy talking about them more. Everything from art design to the sometimes 
        heated relationship  between publishers and developers fascinates me. The rise of competive gaming coincides
        nicely with my love of sports too.     
    </p>
</div>

