<div id="cv">
    <h1> Simon Freeman </h1>
    <p> Contact Details Redacted for Online CV </p>
    <p>
        An enthusiastic Internet Computing graduate from the University of Glamorgan, excited to continue a career in development. Combining a talent for problem solving with an ability to communicate effectively, programming within a team is a natural fit. Online portfolio available at www.spfreeman.azurewebsites.net.
    </p>
    <h2>Education</h2>
    <h3>2008 - 2011   University of Glamorgan</h3>
    <h4>2:1 BSc Internet Computing</h4>
    <ul><li>Studied a wide range of topics, leading to a well rounded knowledge of computer technology.</li> <li>Software development classes used a variety of languages, including C#. A grade of 82% was achieved in Computer Programming.</li> <li>Business orientated modules taught key skills such as following a project timeline and completing objectives within a team.</li> <li>Law modules covered highly relevant areas such as the Computer Misuse Act and the Data Protection Act. </li> </ul>
    <h3>2001-2008    Launceston College</h3>
    <h4>A Levels - Maths (C), Physics (C), IT (D)</h4>
    <h4>GCSEs – 11 A* - C</h4>
    <ul>
        <li>Includes an A* in Maths, an A in Statistics, and an A in English.</li>
        <li>Received the silver award for the Intermediate Maths Challenge.</li>
    </ul>
    <h2>Web Development Skills </h2>
    <ul>
        <li>Web languages used include C#, PHP, CSS, MYSQL, XHTML, JavaScript, and XML. A working understanding of OOP enables the use of established frameworks, such as ASP.NET MVC, to create code that is both more powerful and versatile.</li>
        <li>To develop web applications, appropriate tools have been used such as Visual Studio 2013 Express, Microsoft Azure, and Git for version control.</li>
        <li>Having developed skills within an academic environment, web standards have always been of importance. Areas such as web accessibility, using standard coding conventions, and avoiding deprecated techniques are adhered to wherever possible.	</li>
    </ul>
    <h2>Relevant Work Experience</h2>
    <h3>2012 	Website Consultancy</h3>
    <p>With the aim of highlighting potential improvements that would increase usage of a letting agent, a critical review of their existing website was undertaken. This review was conducted from the viewpoint of the target users, and considered both functionality and aesthetic design. </p>

    <ul>
        <li>Ability to critique user centric products.</li>
        <li>Communication skills to explain problems and suggest solutions.</li>
    </ul>
    <h3>2011/12 Website Design and Production</h3> <p>A new website was designed and created for a local water system business. The intention of this project was to enhance their online presence with a more professional design, and improve the availability of pertinent information. This was achieved by creating a fresh design and then implementing it using appropriate web technologies.</p>
    <ul><li>Ability to put academically learnt skills to practical use.</li> <li>Design and creation of a product based on predetermined goals.<li> Dedication and attention to create a product of professional standards.</li></ul>
    <h2>Additional Skills and Interests</h2>
    <h3>Sports</h3>
    <p>
        Sports have always been an interest, having represented my college badminton team up to a county level. Currently utilized as Vice-Captain for a village skittles team. Duties include assembling a full team ahead of games, recording the official scores to be used by the league, and compiling the end of season statistics.
    </p>
    <h3>Driving</h3>
    <p>Full UK drivers licence with no points.</p>
</div>