@{
    ViewBag.Title = "Home Page";
}


<h1>Homepage of Simon Freeman</h1>


<div>
    <h2>Welcome to my Website</h2>
    <p>
        <span class="alert-danger">Disclaimer:</span> This site is still very much in development. I've made sure to get things up and running,
        but I'm still adding functionality and it's very much in need of a real design. If you're concerned that there's not
        enough orange yet, or that the CV building demo isn't as advanced as you'd like, please check back again later.
    </p>
    <p>    
        On this site, you should be able to find all the information you need about myself and my work. This website
        is currently also home to my CV builder demo to show I'm capable of creating useful things. I'm not sure
        how far I'm going to take this idea yet, but it has certainly made writing CVs a little more bearable as well
        as being proof of ability. 
    </p>

</div>