@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homepage of Simon Freeman</h1>
</div>

<div>
    <h2>Welcome to my Website</h2>
    <p>
        This site serves as the host of my porfolio, and a working example of what I can do. This site includes a CV building demo
        to show that I can create more than just static pages.
    </p>

</div>