@{
    ViewBag.Title = "Portfolio";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <h2>This Website</h2>
    <p>
        This website was built by myself using  ASP.NET MVC 5, Entity Framework 6, inside of Visual Studio
        Express 2013. It was then published using Microsofts Azure platform. The source code for this site
        <a href="https://github.com/simonfreeman/CVHomepage " target="_blank">is available here.</a> This site is still in Alpha
        and as such the code is still being updated.
    </p>
</div>
<div class="row">
    <h2>Homepage for a Local Business</h2>
    <p>
        This website was designed and completed by myself, starting with a blank slate. The goal was to create a clean and simple
         website that could be used for advertising and for customer feedback. A few areas with
         Lorem Ipsum remain where the relevant information is missing. 
        <a href="http://spfreeman.net/stenlakes/" target="_blank"> it can be viewed here.</a>
    </p>
</div>
<div class="row">
    <h2>University Dissertation</h2>
    <p>
        This dissertation was my final project for university. It included  research, design,
         implementation, and review sections. The goal was to create a website where gamers could
         schedule events. <a href="http://www.spfreeman.net/downloads/project.pdf" target="_blank"> Viewable in pdf form here. </a>
         apologies for some layout issues, i don't currently have access to microsoft office. 
        Contents page numbers are accurate.</p>
</div>
