@{
    ViewBag.Title = "Portfolio";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <h3>This Website</h3>
    <p>
        This website was built by myself using  ASP.NET MVC 5, Entity Framework 6, inside of Visual Studio
        Express 2013. It was then published using Microsofts Azure platform. The source code for this site
        <a href="https://github.com/simonfreeman/CVHomepage">is available here.</a> This site is still in Alpha
        and as such the code is still being updated.
    </p>
</div>
<div class="row">
    <h3>Homepage for a Local Business</h3>
    <p>
        This website was designed and completed from nothing. The goal was to create a clean and simple
         website that could be used for advertising and for customer feedback. A few areas with
         Lorem Ipsum remain where the relevant information was not provided to me. 
        @Html.ActionLink("It can be viewed here. ADD THIS LINK","blah")
    </p>
</div>
<div class="row">
    <h3>University Dissertation</h3>
    <p>
        This dissertation was my final project for university. It included  research, design,
         implementation, and review sections. The goal was to create a website where gamers could
         schedule events. Viewable in PDF form here. Apologies for some layout issues, I don't 
        currently have access to Microsoft Office. Contents page numbers are accurate.
    </p>
</div>
